.header{
  .navbar-brand{
    flex-grow: 1;
    img{width:117px;}
  }
  .categories{
    flex-grow:1;
  }
  .input__search{
    flex-grow: 5;
    .input-group{
      .form-control{
        background-color:$color-white-cream;
        border:none;
        &:focus{
          box-shadow:none;
          background-color:$color-white-0;
          border:1px solid $color-gray-3;
          border-right:none;
          transition:none;
          & + .input-group-prepend{// dau + cung phia sau truc tiep the do
            .input-group-text{
              background-color:$color-white-0;
              border:1px solid $color-gray-3;
              border-left:none;
            }
            &:hover{
              .input-group-text{
                background-color:$color-red-0;
                color:$color-white-0;
              }
            }
          }
        }
      }
      .input-group-prepend{
        .input-group-text{
          background-color:$color-white-cream;
          border:none;
          color:$color-white-0;
        }
        &:hover{
          .input-group-text{
            background-color:$color-red-0;
            color:$color-white-0;
          }
        }
      }
    }
  }
  .navbar-nav{
    width:70%;
    justify-content: space-between;
    .nav-item{
      position:relative;
      &:hover{
        .navbar-link{
          background-color:$color-gray-1;
        }
        .header__content{display:block}
      }
      &:nth-child(3){
        .nav-link{
          border-radius:50%;
          width:40px;
          height:40px;
          text-align:Center;
        }
      }
      .nav-link{
        color:$color-black-light;
      }
      .header__content{
        position:absolute;
        top:130%;
        right:0;
        width:330px;
        border:1px solid $color-black-0;
        padding:20px;
        text-align:center;
        display:none;
        z-index:3;
        &::before{
          position:absolute;
          top:-11px;
          content:"";
          right:20px;
          background:$color-white-0;
          width:21px;
          height:21px;
          border-top:1px solid $color-black-0;
          border-left:1px solid $color-black-0;
          transform:rotate(45deg);
        }
      }
    }
  }
}